# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
dist/
build/
*.egg

# Virtual environments
venv/
.env/
.venv/
*/venv/
*/.env/
*/.venv/

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
static/

# Environment variables
.env

# IDE & OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Migrations (opcional, si quieres ignorarlas al principio)
# **/migrations/**/*
# !**/migrations/__init__.py

